<% if ( results ) { %>

    <script>
        $('#oblisearchbutton').hide();
        $('#searchnotfound').hide();
        $('#erroralert').hide();
        $('.tabs').hide();
    </script>

    <% if ( results.length == 0 ) { %>
        <div class="alert alert-info" style="margin: 10px;">
            <a class="close clear">x</a> Sorry, we couldn't find any results
        </div>
    <% } else { %>

    <!-- show search results -->
    <% for(var i=0; i<results.length; i++) {%>
        <div class="conv_head_result">
            <!-- TODO: Remove inline stylesheet and add an img tag instead -->
            <div class="conv_img" style="background: url('<%= results[i]['avatar'] %>'); background-size: 50px 50px;">
                <i class="circle-mark fa fa-plus-circle" aria-hidden="true"></i>
            </div>
            <%= results[i]['username'] %>

            <input type="hidden" class="username" value="<%= results[i]['username'] %>">
        </div>
    <% } %>

    <% } %>

<% } %>