<script>
    document.title = '<%= title %>';
    document.getElementById('upperbar').style.display = "block";
</script>

<div id="passwrapper">

    <div id="changepass">

        <form id="otpform" data-toggle="validator" role="form" method="post">
            <h1>Add one-time Password</h1>

            <% if (error.length > 0) { %>
                <div class="alert alert-danger" style="width:400px; margin:0 auto; margin-top:40px;">
                    <a class="close">x</a> <%= error %>
                </div>
            <% } %>

            <% if (success.length > 0) { %>
                <div class="alert alert-info" style="width:400px; margin:0 auto; margin-top:40px;">
                    <a class="close">x</a> <%= success %>
                </div>
            <% } %>

            <div id="erroralert" class="alert alert-danger"></div>

            <br />
            <br />

            <label for="currentpassword">Enter current password</label>
            <input type="password" name="currentpassword" id="currentpassword" required>

            <br />

            <label for="password">Enter a one-time password</label>
            <input type="password" name="password" id="password" required>

            <meter max="4" id="password-strength-meter"></meter>
            <div id="password-strength-text"></div>

            <br />

            <div class="form-group text-center">
                <button type="submit" class="btn btn-lg btn-primary submitButton">Add one-time Password</button>
            </div>
        </form>

    </div>

</div>




<script>


    /* FIXME: Remove inline javascript (Find a way to bind event listeners to '#pjax-container')
     The event listeners get destroyed after the DOM is unloaded after a 'pjax load' */

    //Password Strength

    var strength = {
        0: "Worst",
        1: "Bad",
        2: "Weak",
        3: "Good",
        4: "Strong"
    };

    var password = document.getElementById('password');
    var meter = document.getElementById('password-strength-meter');
    var text = document.getElementById('password-strength-text');

    function checkPasswords() {

        var val = password.value;
        var result = zxcvbn(val);

        // Update the password strength meter
        meter.value = result.score;

        // Update the text indicator
        if (val !== "") {
            text.innerHTML = "<div id='feedback-bubble'><strong>Password strength</strong>: " + strength[result.score] + "<span class='feedback'> <br />" + result.feedback.warning + " " + result.feedback.suggestions + "</span></div>";
        }
        else {
            text.innerHTML = "";
        }

    }

    password.addEventListener('input', function()
    {
        checkPasswords();
    });


</script>